* {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}
header {
  width: 1600px;
  height: 808px;
  background-image: url(./images/banner/banner1.png);
}
.header-container {
  text-align: right;
  padding-right: 230px;
  padding-top: 216px;
  padding-left: 845px;
}
.header-description {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.header-title {
  font-weight: 700;
  font-size: 65px;
}
.header-button {
  color: #ffffff;
  border: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  height: 50px;
  border-radius: 8px;
  padding: 0px 10px;

  background: #fd6e0a;
}
/* failures style */
.failures {
  padding-left: 206px;
}
.person-pic {
  padding-top: 131px;
}
.failure-container {
  display: flex;
}
.failure-content {
  padding-right: 300px;
  padding-top: 306px;
}
.failure-title {
  padding-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  width: 288px;
}
.failure-description ul,
li {
  padding-top: 24px;
}

/* my plan styles */
.plan-head {
  text-align: center;
  margin-left: 70px;
  margin-top: 130px;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 40px;
}
.plan-container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  padding-left: 230px;
  padding-right: 230px;
}
.plan-items {
  justify-content: center;
}
.plan-title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
.plan-subtitle {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}
.ic1 {
  padding-left: 30px;
}
.ic1f {
  padding-left: 70px;
}
/* tail style */
.tail {
  width: 1140px;
  height: 330px;
  margin: 130px 230px;
  background-image: url(./images/banner/banner1.png);
  margin-bottom: 130px;
}
.tail-title {
  color: blueviolet;
  font-weight: 700;
  font-size: 40px;
  padding-top: 64px;
  padding-bottom: 24px;
  width: 459px;
}
.tail-container {
  padding-left: 64px;
}
/* footer styles */
footer {
  width: 1600px;
  height: 577px;
  background-color: black;
  color: #ffffff;
}

.future ul li {
  list-style: none;
}
.future ul {
  margin-bottom: 24px;
}
.ic2 {
  padding-left: 15px;
}
.future-description {
  text-align: justify;
  max-width: 485px;
}
.footer-button {
  background-color: #ffffff;
  color: black;
  border: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  height: 50px;
  border-radius: 8px;
  padding: 0px 10px;
}
.footer-container {
  display: flex;
}
.future {
  margin-left: 230px;
  margin-top: 130px;
}
.subscribe {
  margin-left: 330px;
  margin-top: 130px;
}
.email {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 40px;
}
.future-title {
  font-weight: 700;
  font-size: 45px;
}
